


body {
  height: calc(var(--vh, 1vh) * 100);
  width: calc(var(--vw)*100);
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  overflow: hidden;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@font-face {
  font-family: TayBigBird;
  src: url(/fonts/BigBird/TAYBigBird.woff2);
}


.home, a:hover, a:visited, a:link, a:active {
  margin: 1rem;
  font-family: TayBigBird;
  text-decoration: none;
  color:black;
  font-size: 2vw*.5vh;
}


object {
  height: 70%;
  width: calc(var(--vw), 1vw) * 50;
}