




@font-face {
  font-family: GTAM_R;
  src: url(fonts/GT-America-Mono-Regular.otf);
}


* {
  margin: 0;
}

h1 {
  display: none;
}


p {
  width: 25rem;
  display: flex;
  justify-content: center;
  color: #F5F1ED;
}

.aboutMe {
  margin-top: 5rem;
  text-align: left;
  padding: 4rem;
}

body {
  height: 100dvh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: GTAM_R;
  background-image: url("couchLanding.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.swordAndShield {
  filter: invert(91%) sepia(8%) saturate(555%) hue-rotate(318deg) brightness(110%) contrast(92%);
  height: 16rem;
  margin: auto;
}

a {
  text-decoration: none;
}


.contactMe img {
  filter: invert(91%) sepia(8%) saturate(555%) hue-rotate(318deg) brightness(110%) contrast(92%);
  height: 2.5rem;
}

.socialsContainer {
  padding-bottom: 4rem;
  display: flex;
  gap: 2rem;
}


.socialsContainer img {
  filter: invert(91%) sepia(8%) saturate(555%) hue-rotate(318deg) brightness(110%) contrast(92%);
  height: 2.5rem;
}

@media screen and (min-width: 40em) {

  p {
    width: 100vw;
    font-size: 2rem;
  }

.swordAndShield {
    height: 24rem;
  }

  .socialsContainer {
    gap: 5rem;
  }

  .socialsContainer img {
    height: 4rem;
  }

  .contactMe img {
    height: 4rem;
  }
}