


@font-face {
  font-family: GTAM_R;
  src: url(fonts/GT-America-Mono-Regular.otf);
}


* {
  margin: 0;
}

h1 {
  display: none;
}


body {
  height: 100dvh;
  text-align: center;
  overflow: hidden;
  font-family: GTAM_R;
  background-image: url("couchLanding.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.swordAndShield {
  filter: invert(91%) sepia(8%) saturate(555%) hue-rotate(318deg) brightness(110%) contrast(92%);
}


a {
  text-decoration: none;
  color: #F5F1ED;
}

body .landingList {
  overflow: hidden;
}

.landingList {
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-left: 4rem;
  gap: 3rem;
}

.landingListBar {
  width: 277px;
  height: 15px;
  background-color: #F5F1ED;
}

footer {
  display: flex;
  gap: 4rem;
  position: absolute;
  bottom: 1rem;
  padding: 4rem;
  color: #F5F1ED;
}



@media screen and (min-width: 40em) {

  .swordAndShield {
    height: 40rem;
    margin: auto;
  }

  .landingList {
    margin-left: 4rem;
    position: absolute;
    bottom: 15rem;
  }
}


@media screen and (min-width: 62em) {

  footer {
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    right: 25rem;
    bottom: 11rem;
  }


}
  