

@font-face {
  font-family: GT-America-Mono-Regular;
  src: url(../fonts/GT-America-Mono-Regular.otf);
}

body {
  background-color: #252323;
  margin: 0px;


}

body .bodyContainer {
  overflow: hidden;
  height: 95vh;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

}

.asterisk {
  height: 30%;
  display: flex;
  justify-content: center;
}

.asterisk img {
  scale: 200%;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  font-family: GT-America-Mono-Regular;
  text-decoration: none;
  color: #CD9554;
}

.musicLinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  
}

.musicLinks img {
  scale: 120%;
}
.musicLinks li {
  font-size: 4rem;
  text-align: center;
}

.musicLinks a {
  font-family: GT-America-Mono-Regular;
  text-decoration: none;
  color: #CD9554;
}