

.music{
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top: 20%;
}


body{
    background-image: url("couch.jpg") ;
    }

@media (min-width:992px){
    .flex-container{
        flex-direction: row;
    }
    #container {
        padding: 30px;
    }
    .scrolling-wrapper{
        overflow:auto;
        white-space:nowrap;
    }
    .pic{
        width:100%;
        height:100%;
        display:inline-block;
    }
}

@media (max-width: 992px) {
    .flex-container{
        flex-direction:column;
    }
	#container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.pic {
		width: auto;
        padding:20px;
	}
}
