

/* @font-face {
  font-family: asterisks;
  src: url(fonts/GT-America-Mono-Light-Italic.otf);
} */

@font-face {
  font-family: GT-America-Mono-Medium;
  src: url(fonts/GT-America-Mono-Medium.otf);
}

@font-face {
  font-family: GT-America-Mono-Medium-Italic;
  src: url(fonts/GT-America-Mono-Medium-Italic.otf);
}

@font-face {
  font-family: GT-Super-Text-Book;
  src: url(fonts/GT-Super-Text-Book.otf);
}

body {
  margin: 0px;
  overflow: hidden;
}

body .bodyContainer {
 display: flex;
 overflow: hidden;
 flex-direction: column;
 justify-content: space-around;
 gap: 2rem;
}

.couch {
  background-image: url(images/couchLanding.png);
  display: flex;
  width: 40rem;
  height: 20rem;
  background-size: cover;
  margin-left: 65px;
  margin-top: 80px;
  align-items: center;
}

.couchAsterisk img {
  height: 30%;
  width: 30%;
  position:relative;
  left: 15%;
}



.landingList {
  font-family: GT-America-Mono-Medium;
  font-size: 3rem;
  width: 500px;
}

.landingList ul {
  list-style: none;
  padding-inline-start: 65px;
  position: relative;
  margin: 0px;
  height: 350px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.landingList li a {
  text-decoration: none;
  color: hsl(0, 5%, 15%);
}

footer {
  font-family: GT-America-Mono-Medium-Italic;
  font-size: .75rem;
  text-align: center;
  position:relative;
  bottom: -20px;
}

footer a {
  text-decoration: none;
  color:hsl(0, 5%, 15%);
  opacity: 50%;
}

.currentResume {
  margin-top: 8px;
}

footer a:active {
  text-decoration: none;
  color: hsl(131, 12%, 38%);
  opacity: 50%;
}

@media screen and (min-width: 48em) {

  .couch {
    background-image: url(images/couchLanding.png);
    display: flex;
    width: 690px;
    height: 428px;
    margin-top: 0px;
    margin-left: 0px;
    background-size: 150% 150%;
    align-items: center;
  }

  .couchAsterisk img {
    height: 70%;
    width: 70%;
  }

  .bodyContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
  }
   
  .landingList {
    font-family: GT-America-Mono-Medium;
    font-size: 4rem;
    width: 600px;
  }
}

@media screen and (min-width: 75em) {

  .bodyContainer {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    justify-content: space-evenly;
    align-items: center;
    gap: .05rem;
  }

  .couch {
    background-image: url(images/couchLanding.png);
    display: flex;
    width: 580px;
    height: 360px;
    margin-top: 0px;
    margin-left: 60px;
    background-size: 150% 150%;
    align-items: center;
  }

  .couchAsterisk img {
    height: 50%;
    width: 50%;
  }


  .landingList {
    font-family: GT-America-Mono-Medium;
    font-size: 4rem;
    width: 600px;
  }
   
}